body {
    font-family: poppins;
    font-size: 20px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 20px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
    transition: 0.5s ease-in-out;
}
