body {
  margin: 25px;
  background-color: rgb(240,240,240);
  font-family: arial, sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
}

tr {
  color: green;
  font-size:35px
}

/* Applies to all elements with <... class="someclass"> specified. */
.someclass { color: red; }

#someid { color: green; }
